.container {
  padding: 0 2rem;
}

.main {
  min-height: 75vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  /* margin: 2rem 0; */
  line-height: 1.5;
  font-size: 1.5rem;
}

.heading {
  font-size: 30px;
  margin: 0 0 20px 0;
}

.blogItem h3 {
  font-size: 20px;
}

.imageContainer {
  padding-top: 30px;
}

.myImg {
  border-radius: 10px;
}

.blogItem h3 {
  font-size: 1.75rem;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 11px;
}

.blogItem button {
  color: white;
  background: black;
  padding: 7px 6px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 12px;
  margin-bottom: 9px;
}

.blogItem p {
  margin: 16px 0;
  margin-top: 3px;
}